<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard Template · Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      main {
        margin-top: 50px;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">

    <style type="text/css">/* Chart.js */
      @-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}
      @keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}
    </style>
  </head>
  <body>
  <%# ヘッダー %>
  <%- include('./_header') %>

  <div class="container-fluid">
    <div class="row">

      <%# サイドメニュー %>
      <%- include('./_sidemenu') %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Delivery</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
              This week
            </button>
          </div>
        </div>

        <canvas class="my-4 w-100 chartjs-render-moniter" id="delivery" width="884" height="373" style="display: block; width: 884; height: 373px;"></canvas>

        <h2>Daily</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm" id="daily-table">
            <thead>
              <tr>
                <th>時間帯</th>
                <th>配信数</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="/vendor/chart/Chart.js"></script>

  <!-- Dashboard JavaScript -->
  <script src="/vendor/datatables/datatables.min.js"></script>
  <script type="text/javascript">
    $(function() {
      // グラフ
      $.get("/api/delivery/weekly", function(data) {
        var labelArr = [];
        var dataArr = [];
        for(idx in data) {
          labelArr.push(data[idx].time.substring(0, 10));
          dataArr.push(data[idx].count);
        }
        //
        var myChart = new Chart($("#delivery")[0], {
          type: 'line',
          data: {
            labels: labelArr,
            datasets: [{
              data: dataArr
            }]
          },
          options: {
            legend: {
              display: false
            }
          }
        });
      });

      // 日別の配信数
      $.get("/api/delivery/daily", function(data) {
        $("#daily-table").DataTable({
          "searching": false,
          "ordering": false,
          "info":     false,
          data: data,
          columns: [
            {"data": "time"},
            {"data": "count"},
          ]
        });
      });
    });

  </script>
  </body>
</html>