
  <footer class="py-5 bg-dark">
    <div class="container">
      <div class="float-left">
        <ul class="list-unstyled">
          <li><a href="https://mstdn-jp.site" target="_new">My Mastodon</a></li>
          <li><a href="https://misskey.ranranhome.info" target="_new">My Misskey</a></li>
        </ul>
      </div>
      <div class="float-right">
        <ul class="list-unstyled">
          <li><a href="https://github.com/gittrname/activitypub-relay" target="_new">©2019 gitrname</a></li>
          <li class="text-muted"><a href="https://pixabay.com/ja/users/GDJ-1086657/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3846597">Gordon Johnson</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3846597" target="_new">Pixabay</a>からの画像</li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </footer>